<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Playground — Complete Intro to Vue 3</title>
</head>

<body>

  <div id="app">

    <p>{{count}}</p>
    <button v-on:click="incrementCount">Increment</button>
    <!-- <input type="number" v-bind:value="incrementAmount" v-on:input="changeInputAmout"> -->
    <input type="number" v-model="incrementAmount">
    <hr>
    <!-- 
    <div>
      <h1>{{ message }}</h1>

      <p v-if="message.length % 2 === 0">
        Even: {{message}}
      </p>
      <p v-else>
        Odd: {{message}}
      </p>

      <ul>
        <li v-for="numbers in listOfNumbers">
          {{numbers}}
        </li>
      </ul>

      <ul>
        <li v-for="item in complexList">
          {{item.id}}
          <ul>
            <li v-for="numbers in item.list">
              {{numbers}}
            </li>
          </ul>
        </li>
      </ul>
    </div> -->
  </div>
</body>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script>
  const { createApp } = Vue

  const app = createApp({
    // data() {
    //   return {
    //     message: 'Hello world', listOfNumbers: [1, 2, 3, 4, 5],
    //     complexList: [
    //       {
    //         id: 1,
    //         list: [1, 2, 3, 4]
    //       },
    //       {
    //         id: 2,
    //         list: [1, 2, 3, 4]
    //       }, {
    //         id: 3,
    //         list: [1, 2, 3, 4]
    //       }, {
    //         id: 4,
    //         list: [1, 2, 3, 4],
    //       }
    //     ]
    //   }
    // }
    data: () => ({
      count: 10,
      incrementAmount: 2,
    }),
    methods: {
      incrementCount() {
        this.count += this.incrementAmount
      },
      changeInputAmout({ target: { value } }) {
        this.incrementAmount = +value
      }
    }
  })

  app.mount('#app')


</script>

</html>